# ========================
# Database Services
# ========================
POSTGRES_PASSWORD=Senhasegura123
SA_PASSWORD=Senhasegura123

# ========================
# RabbitMQ
# ========================
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest